extends layout

block title
  title #{title}

block content
  p #{err}
  form(method="POST", action='/products/'+selectedProduct.id)
    input(name="_method",value="put", type="hidden")
    input(name='id',value=selectedProduct.id, type="hidden")
    p
      label(for="productname") Product Name:   
        input(type='text', name='productname', value=selectedProduct.productname, required)
    p
      label(for="desc") desc:
        input(type='text', name='desc', value='selectedProduct.desc')
    p
      label(for="brand") brand:
        input(type='text', name='brand', value=selectedProduct.brand, required)
    p
      input(type='submit', value='Edit Product')
